.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    display: flex;
}

.navbar > h1{
    font-size: 32px;
    color: black;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links > a {
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    font-weight:600;
}